/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body{
    font-family: "yanone", Arial, Helvetica;
    font-size: 20px;
    background: url("assets/pattern.png");
    background-attachment: fixed;
    
}