
<div class="container">
  <h1>Formulario</h1>
  <form  class="form-group" [formGroup]="formulario">
    <div class="form-group">
      <label for="nombre">
          
          <input class="form-control form-control-lg" placeholder="Nombre" type="text" formControlName="nombre" id="nombre">
        </label>
    </div>
    <div class="form-group">
        <label for="clave">
            
            <input class="form-control form-control-lg" placeholder="Clave"  type="password" formControlName="clave" id="clave">
          </label>
      </div>

      <div class="form-group">
          <label for="confirmar">
            
              <input class="form-control form-control-lg" placeholder="Confirmar clave" type="password" formControlName="confirmar" id="confirmar">
            </label>
        </div>

        <div class="form-group">
            <label for="correo">
              
                <input class="form-control form-control-lg" placeholder="Correo" type="email" formControlName="correo" id="correo">
              </label>
          </div>
   
          <div class="form-group">
              <label for="confirmarCorreo">
                 
                  <input class="form-control form-control-lg" placeholder="Confirmar correo" type="email" formControlName="confirmarCorreo" id="confirmarCorreo">
                </label>
            </div>

            

   

    <button class="btn btn-secondary" (click)="registro()" [disabled]="!formulario.valid || !validacion()">Submit</button>
     
  </form>
</div>