<!--The content below is only a placeholder and can be replaced.-->
<div>
 
 
 <nav>
    <a [routerLink]="['/home']" [routerLinkActive]="['active']">inicio</a>
    &nbsp;
    <a [routerLink]="['/externo']" [routerLinkActive]="['active']">Extras</a>
    &nbsp;
    <a [routerLink]="['/formulario']" [routerLinkActive]="['active']">Formulario</a>
    &nbsp;
  </nav>

<hr>


<router-outlet></router-outlet>
</div>