<h2>Lista de usuarios</h2>

<form #newUser="ngForm">

		
		<select class="custom-select">
			<option *ngFor="let u of users">{{u.first_name}}</option>
		</select>



</form>
<hr>
<h5>Busca usuario por Id (press enter)</h5>
<input class="form-control form-control-lg" placeholder="Buscar" type="text" [(ngModel)]="userId" (keyup.enter)="cargaUsuario()"/>

<div *ngIf="!user">
	Cargando...
</div>



<div *ngIf="user">
	<img src="{{user.avatar}}" width="200" />
	<h2>{{user.first_name + ' ' + user.last_name}}</h2>
</div>

<h4>Que aprendi?</h4>
<textarea cols="50" rows="7"> Conceptos de Html y Css,crear componentes con la consola, crear clases y modelos, utilizar directivas, el concepto two way data-binding y eventos. También cosas como onInit, crear menus y rutas (con boostrap incorporado),crear y consumir servicios HTTP y AJAX, pipes,formularios y validar estos de una manera reactiva. Agradecido de la disposición y conceptos! me gustaría continuar con algo de este tipo y aprender mas
</textarea>

